@import "../../sass/colors.scss";

.sectionAboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-secondary;
  padding-bottom: 4rem;
}

.subHeading {
  font-size: 2rem;
  margin: 2rem 0;
}

.paragraph {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  width: 40rem;
  max-width: 80vw;
}
