@import "../../sass/colors.scss";

.sectionHero {
  height: 100vh; // Corrected "svh" to "vh"
  background: url("../../../public/hero-image.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
}

.header {
  height: 4rem;
  background-color: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem; // Added padding here for consistency
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2.4rem;
  color: $color-black;
}

.logo {
  height: 4rem;
}

.navList {
  list-style: none;
  display: flex;
  height: 100%;
  margin: 2rem 0;

  li {
    margin-right: 2rem;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.tagline {
  color: white;
  font-size: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  align-self: flex-end;
}

// Consolidating media queries for better readability

@media (max-width: 1000px) {
  .tagline {
    top: 80vh;
    right: 4rem;
    left: auto; // Reset left property
    font-size: 1.8rem;
  }

  .title {
    font-size: 2rem;
  }

  .header {
    padding: 2rem 0 4rem 0;
    height: 10rem;
    flex-direction: column;
    align-items: center; // Added for center alignment
  }

  .navList {
    justify-content: center;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  .header {
    opacity: 0.8;
  }
}

@media (max-width: 600px) {
  .sectionHero {
    justify-content: space-between;
  }

  .tagline {
    margin-top: 0;
    margin-right: 0;
    margin: 0 2rem 2rem 2rem;
  }
}

@media (max-width: 480px) {
  .header {
    opacity: 0.8;
    height: auto;
    padding-bottom: 0;
  }

  .navList {
    margin-left: 1rem;
    flex-wrap: wrap;
    gap: 1rem 0;
    li {
      font-size: 1.2rem;
    }
  }
}
